body{
    background-color: #f1ede8;
    color: #29235c;
}

.topo{
    padding: 15px 0 15px;
    color: #29235c;
}

.logo{
    margin: 0 90px 0 90px;
}

.cor-botao{
    background-color: #29235c;
    border-color: #29235c;
}

.botao{
    margin-left: 88%;
    
}

.textocadastro{
    font-size: 15px;
    margin-right: 1px;
}

.nav-pills .pill .nav-link{
    background-color: #29235c;
}
.nav-pills .pill .nav-link:not(.active){
    background-color: #ffffffff;
    color: #29235c;
}

/*Códigos de estilo de cadastro*/

.cadastro{
    margin-top: 90px;
}

/* Fim do código cadastro */

/*Codigos de estilo pedidos*/

#Caneca{
    display: none;
}
#Chinelo{
    display: none;
}
#Camisa{
    display: none;
}
#Bolsa{
    display: none;
}
#Outros{
    display: none;
}
#Azuleijo{
    display: none;
}
#Chaveiro-comum{
    display: none;
}
#Chaveiro-espuma{
    display: none;
}
#Quebra-cabecas{
    display: none;
}

#container-pedidos{
    background-color: #fff;
    border-radius: 3%;
    padding: 4%;
}
#pag-pedidos{
    text-align: center;
}
hr {
    height:1px; border:none; color:#000; background-color:#000;
}    

/*fim codigo pedidos*/